*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lora', serif;
    background: rgb(180,142,58);
    background: linear-gradient(90deg, rgba(180,142,58,1) 0%, rgba(252,253,29,1) 50%, rgba(238,69,252,1) 100%);
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.weather{
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 14px;
    flex-direction: column;
}

#location{
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.desc{
    font-size: 12px;
    text-transform: capitalize;
}

.preloader{
    border: 5px solid #f3f3f3;
    border-top: 5px solid #349;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
     0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
 }